{% from "render_field.html" import render_field %}


{%extends "index.html" %}
{%block content%}
<section   style="min-height: 100vh; background-color: #fca950 !important;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-left h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
              
              <center>
                <h4 class="text-center my-3 pb-3">Список постів {% if categoryname %}категорії "{{categoryname}}"{% endif %}</h4>
                {% if current_user.is_authenticated %}
                  <a class="btn btn-primary btn-lg btn-block" href="{{url_for('post.addnewpost')}}">Створити новий пост</a>
                {% endif %}
              </center>

              {% if postlist.items|length==0  %}
                <h4 class="text-center my-3 pb-3" style="color: crimson;">Постів немає.</h4>
              {% endif %}
              {% for post in postlist.items %}
                {% if post.enabled == True or current_user.id == post.user_id %}
                  <div class="post">
                    <div class="posttitle">
                          <a class="post_title_link" href="{{url_for('post.post',post_id=post.id)}}">{{post.title}}</a>
                    </div>
                    <div class="posttime">
                          {{post.created.replace(microsecond=0)}}
                    </div>
                    <div>
                          {% if post.type == EnumPost.other %}
                          ✅ Інше
                          {% elif post.type == EnumPost.news %}
                          📰 Новини
                          {% elif post.type == EnumPost.events %}
                          🎆 Події
                          {% else %}
                          🤳 Блог
                          {% endif %}
                    </div>
                    <hr>
                    <div style="margin-left: 10px;color: rgb(255, 86, 86);">
                      {% if current_user.id == post.user_id and post.enabled == False %}
                        🚫 Цей пост не бачать інші користувачі.
                        <br>
                        <a class="post_title_link"  href="{{ url_for('post.update_post', post_id=post.id) }}">Зробіть його видимим тут.</a>
                      {% endif %}
                    </div>
                  </div>

                {% endif %}
              {% endfor %}
            
          <nav aria-label="Page navigation example" style="margin-top: 20px;position: sticky;">
            <ul class="pagination justify-content-center">
                {% if postlist.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('post.post', page=postlist.prev_num) }}" tabindex="-1">Попередня</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Попередня</span>
                    </li>
                {% endif %}
        
                {% for number in postlist.iter_pages() %}
                    {% if number %}
                        {% if postlist.page != number %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('post.post', page=number) }}">{{ number }}</a></li>
                        {% else %}
                            <li class="page-item active">
                                <span class="page-link" style="background-color: #fca950 !important;border-color: #ff8400;">{{ number }}</span>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endfor %}
        
                {% if postlist.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('post.post', page=postlist.next_num) }}">Наступна</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Наступна</span>
                    </li>
                {% endif %}
            </ul>
        </nav>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
