Laboratory work ?/env/**
Laboratory work ??/env/**

Selfwork/env/**
.idea
Laboratory work ?/__pycache__/**
Laboratory work ?/migrations/**
Laboratory work ?/instance/**

Laboratory work ??/env

Laboratory work ??/__pycache__/**
Laboratory work ??/migrations/**
Laboratory work ??/instance/**
Laboratory work ??/app.db
Laboratory work ??/test_app.db

Laboratory work ??/env
Laboratory work ??/.pytest_cache
Laboratory work ??/.coverage


