
{%extends "index.html" %}
{%block content%}
{% if error %}<center><div class="error"><p class=error><strong>{{ error }}</strong></div>{% endif %}</center>
        <section class="vh-100" style="background-color: #fca950;">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                      <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
              
                          <h3 class="mb-5">Вхід в систему</h3>
                        <form method="post">
                                <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="username">Ім'я користувача</label>
                                      </div>
                          
                                      <div class="form-outline mb-4">
                                        <input type="password" name="userpass" id="userpass" class="form-control form-control-lg" />
                                        <label class="form-label" for="userpass">Пароль</label>
                                      </div>
                          
                                      <button class="btn btn-primary btn-lg btn-block" type="submit">Увійти</button>
                        </form>
        
                          <hr class="my-4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

{% endblock %}
