{% from "render_field.html" import render_field %}

{%extends "index.html" %}
{%block content%}
<center>
  <section style="min-height: 100vh;">
    <img class="rounded-circle account-img" style="margin-top:10px;width:25vh;height: 25vh;" src="{{url_for('static',filename='profile_pics/' + current_user.image)}}">
    <h2 style="margin-top: 20px;"><span class=success>{{current_user.username}}</span></h2>
    <div class="useremail">{{current_user.email}}</div>
    {% if current_user.last_seen %}
    <p style="font-size: 12px;">Останній перегляд : {{ current_user.last_seen.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    {% endif %}
    {% if current_user.about_me %}
    <p style="font-size: 12px;"><div class="feedbackmessage">{{current_user.about_me}}</div>
    {% endif %}
    <hr class="my-4" style="width: 200vh;">
    <h2 style="margin-bottom: 20px;">Редагування інформації про аккаунт</h2>

    <form method="POST" action="/account/" style="width: 170vh;" novalidate enctype="multipart/form-data">
        {{ formChange.hidden_tag()  }}
            <div class="form-outline mb-4">
                {{ render_field(formChange.username) }}<br>
            </div>
            <div class="form-outline mb-4">
                {{ render_field(formChange.email) }}<br>
            </div>
            <div class="form-outline mb-4">
                {{ render_field(formChange.image) }}<br>
            </div>
            <div class="form-outline mb-4">
                {{ render_field(formChange.about) }}<br>
            </div>
                {{ formChange.submit(class="btn btn-primary btn-lg btn-block",style="margin:15px;") }}<br>
        </form>
        <hr class="my-4">
        <h3>Бажаєте змінити пароль?</h3>
        <a href= {{ url_for("changepassword") }} style="margin:20px;color: #fca950;font-size: 24px !important;">Зміна паролю</a>
        <hr class="my-4">

  </section>

</center>

{% endblock %}
