{% from "render_field.html" import render_field %}

{%extends "index.html" %}
{%block content%}

<section   style="min-height: 100vh; background-color: #fca950 !important;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-left h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
        <h4 class="text-center my-3 pb-3">Всі користувачі</h4>
        {% for user in users %}
        <div>
          <div class="userfeedback">
            {{ user.username }} 
        </div> 
          <div class="emailfeedback">
            {{ user.email }}
          </div>
        <hr class="my-4">
      {% endfor %}
      <center>
        <p>Загальна кількість користувачів: {{ users|length }}</p>
      </center>

          </center>
        </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>


{% endblock %}
