
{%extends "index.html" %}
{%block content%}

{% from "render_field.html" import render_field %}

        <section class="vh-100" style="background-color: #fca950;">
                <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                      <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
              
                          <h3 class="mb-5">Вхід в систему</h3>
                        <form method="POST" action="/login/" novalidate>
                          {{ form.csrf_token }}
                                <div class="form-outline mb-4">
                                    {{ render_field(form.email) }}<br>
                                      </div>
                                      <div class="form-outline mb-4">
                                        {{ render_field(form.password) }}<br>
                                      </div>
                                      {{ form.remember }}
                                      {{ form.remember.label }}<br>

                                      {{ form.submit(class="btn btn-primary btn-lg btn-block",style="margin-top:20px") }}<br>
                        </form>
        
                          <hr class="my-4">
                          <p>Ще не зареєстровані?</p>
                          <a href= {{ url_for("register") }} style="color: #fca950;font-size: 24px !important;">Cтворити аккаунт</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>





{% endblock %}
