{% from "render_field.html" import render_field %}

{%extends "index.html" %}
{%block content%}
<center>
      <section   style="min-height: 100vh; background-color: #fca950 !important;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-left h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Зміна паролю</h4>
            <form method="POST" action="/changepassword/" style="width: 80vh;" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag()  }}
                    <div class="form-outline mb-4">
                        {{ render_field(form.oldpassword) }}<br>
                    </div>
                    <div class="form-outline mb-4">
                        {{ render_field(form.newpassword) }}<br>
                    </div>
                    <div class="form-outline mb-4">
                        {{ render_field(form.newpasswordrepeat) }}<br>
                    </div>
                        {{ form.submit(class="btn btn-primary btn-lg btn-block",style="margin:15px;") }}<br>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</center>

{% endblock %}
