@font-face {
    font-family: 'ICTV';
    src: url('ICTV-Regular.eot');
    src: local('ICTV'), local('ICTV-Regular'),
        url('ICTV-Regular.eot?#iefix') format('embedded-opentype'),
        url('ICTV-Regular.woff2') format('woff2'),
        url('ICTV-Regular.woff') format('woff'),
        url('ICTV-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: "ICTV";
}
.buttonclass {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
    font-family: "ICTV";
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.buttonclass:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.buttonclass:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

h2{
      color: #ffeeee;
       width: 20%;
      background-color: #2ba8fb;
        font-size: 36px;

}
.error{
        color: #ffeeee;
       width: 50%;
      background-color: #fb2b74;
    font-size: 48px;
}

p{
    font-size: 32px;
}
span{
          background-color: #2ba8fb;
    color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}